/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1F1F1FFF;
    background-alt: #282A36FF;
    foreground:     #FFFFFFFF;
    selected:       #d81b60FF;
    active:         #5ADECDFF;
    urgent:         #F37F97FF;
}
